{
  "prefix": "!",
  "api_keys": {
    "discord": "",
    "osu": "",
    "riot": ""
  },
  "status": {
    "playing": [
      ""
    ],
    "watching": [
      ""
    ],
    "listening": [
      ""
    ],
    "random": true,
    "delay": 60 
  },
  "db_password": "",
  "bypass_checks": false,
  "owner_ids": [
    null
  ]
}